#include <windows.h>
#include "resource.h"
#pragma code_page(65001)
1 RT_MANIFEST "app.manifest"
IDD_INPUT DIALOGEX 0, 0, 280, 106
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ComicViewerEx"
FONT 9, "Microsoft YaHei UI"
BEGIN
    LTEXT "请输入", IDC_LABEL, 10, 10, 260, 22
    EDITTEXT IDC_VALUE, 10, 34, 260, 16, ES_AUTOHSCROLL
    CONTROL "验证成功后保存到常用密码表（明文）", IDC_REMEMBER, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 58, 260, 14
    DEFPUSHBUTTON "确定", IDOK, 164, 83, 50, 16
    PUSHBUTTON "取消", IDCANCEL, 220, 83, 50, 16
END
IDD_PASSWORDS DIALOGEX 0, 0, 320, 206
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "常用密码表"
FONT 9, "Microsoft YaHei UI"
BEGIN
    LTEXT "密码以明文随程序保存。新密码请在打开加密漫画并验证成功后保存。", -1, 10, 8, 300, 27
    LISTBOX IDC_PASSWORD_LIST, 10, 38, 300, 130, LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP | WS_BORDER
    PUSHBUTTON "修改", IDC_PASSWORD_EDIT, 10, 182, 50, 16
    PUSHBUTTON "删除", IDC_PASSWORD_DELETE, 67, 182, 50, 16
    DEFPUSHBUTTON "关闭", IDOK, 260, 182, 50, 16
END
